.c-cardPodcast {
	@include preset__cardBase();
	align-items: center;
	justify-content: space-between;
	&__title {
		@include transition();
		font-size: 16px;
		color: $secondary;
		padding-right: 15px;
		flex: 1 1 auto;
	}
	&__icon {
		@include flexWidth(18px);
		* {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	&:hover {
		.c-cardPodcast {
			&__title {
				color: $secondaryDark;
			}
		}
	}
}