$cFeedbackFormIconSize: 60px;

.c-feedbackForm {
    &__status {
        padding: 40px;
        &__icon {
            @include flexWidth($cFeedbackFormIconSize);
            margin: 0 auto;
            svg {
                display: block;
                width: 100%;
                max-width: $cFeedbackFormIconSize;
                height: $cFeedbackFormIconSize;
                path {
                    fill: $gray3;
                }
            }
        }
        &__text {
            @include paragraphs();
            text-align: center;
            padding: 15px 0;
            margin: 0 auto;
            width: 100%;
            max-width: 300px;
        }
        &__btn {
            .c-btn {
                margin: 0 auto;
            }
        }

        &.--load {
            svg {
                @include animation__loader;
            }
        }
    }

    &.--darkTheme {
        background: $black;
        .c-feedbackForm__status__icon {
            svg path {
                fill: $white;
            }
        }
        .c-feedbackForm__status__text {
            color: $white2;
            * {
                color: $white2;
            }
        }
        .c-feedbackForm__status__btn {
            .c-btn {
                color: $white !important;
                border-color: $white !important;
                background: $black !important;
                margin: 0 auto;
                max-width: 260px;
                &:hover {
                    background: $white !important;
                    border-color: $black !important;
                    color: $black !important;
                }
            }
        }
    }
}
