$field_height: 48px;
$field_padding: 0 20px;
$field_radius: $defaultRadius;
$fields_borderColor: $text;
$fields_borderColor_focus: $primary;
$field_bg: transparent;
$field_bg_focus: transparent;
$spacer_bg: $gray;
$field_checks_size: 24px;

.c-forma {
    &__fieldsHero {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &.--pad5 {
            @include calcWidthForPositionNegative(-5px);
            > .c-form__field {
                padding: 5px;
                &.--file {
                    .inputAttach {
                        @include calc(width, 100%, '-', 10px);
                        left: 5px;
                        bottom: -20px;
                    }
                    &:after {
                        bottom: 17px;
                        right: 25px;
                    }
                }
            }
            > .c-form__spacer {
                @include calc(width, 100%, '-', 10px);
                left: 5px;
                margin: 5px 0;
            }
        }
        &.--pad10 {
            @include calcWidthForPositionNegative(-10px);
            > .c-form__field {
                padding: 10px;
                &.--file {
                    .inputAttach {
                        @include calc(width, 100%, '-', 20px);
                        left: 10px;
                        bottom: -15px;
                    }
                    &:after {
                        bottom: 22px;
                        right: 30px;
                    }
                }
            }
            > .c-form__spacer {
                @include calc(width, 100%, '-', 20px);
                left: 10px;
                margin: 10px 0;
            }
        }
        &.--pad15 {
            @include calcWidthForPositionNegative(-15px);
            > .c-form__field {
                padding: 15px;
                &.--file {
                    .inputAttach {
                        @include calc(width, 100%, '-', 30px);
                        left: 15px;
                        bottom: -10px;
                    }
                    &:after {
                        bottom: 27px;
                        right: 35px;
                    }
                }
            }
            > .c-form__spacer {
                @include calc(width, 100%, '-', 30px);
                left: 15px;
                margin: 15px 0;
            }
        }
        &.--pad20 {
            @include calcWidthForPositionNegative(-20px);
            > .c-form__field {
                padding: 20px;
                &.--file {
                    .inputAttach {
                        @include calc(width, 100%, '-', 40px);
                        left: 20px;
                        bottom: -5px;
                    }
                    &:after {
                        bottom: 32px;
                        right: 40px;
                    }
                }
            }
            > .c-form__spacer {
                @include calc(width, 100%, '-', 40px);
                left: 20px;
                margin: 20px 0;
            }
        }
        &.--pad25 {
            @include calcWidthForPositionNegative(-25px);
            > .c-form__field {
                padding: 25px;
                &.--file {
                    .inputAttach {
                        @include calc(width, 100%, '-', 50px);
                        left: 25px;
                        bottom: 0;
                    }
                    &:after {
                        bottom: 35px;
                        right: 45px;
                    }
                }
            }
            > .c-form__spacer {
                @include calc(width, 100%, '-', 50px);
                left: 25px;
                margin: 25px 0;
            }
        }
    }

    // spacer
    &__spacer {
        display: block;
        position: relative;
        height: 1px;
        background: $spacer_bg;
    }

    // all elements
    input, textarea, select, label, .fakeLabel {
        display: block;
        width: 100%;
    }

    // fields
    input, select, textarea {
        @include transition();
        @include roundedAll($field_radius);
        @include paragraphs($fs: 16px);
        background: $field_bg;
        border: 2px solid $fields_borderColor;
        @include placeholder {
            @include paragraphs($fs: 16px, $tc: $placeholderText);
        }
        &:focus {
            border-color: $fields_borderColor_focus;
            background: $field_bg_focus;
        }
    }
    input, select {
        height: $field_height;
        line-height: $field_height;
        padding: $field_padding;
    }
    select {
        * {
            background: $white !important;
            color: $text !important;
            &:hover {
                background: $black !important;
                color: $white !important;
            }
        }
    }
    textarea {
        padding: $field_padding;
        min-height: $field_height * 2;
        max-height: 300px;
        resize: vertical;
    }

    // titles & labes
    label, .fakeLabel {
        @include labels();
        margin-bottom: 4px;
        &.--withObs {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .caption, strong {
                @include labels();
            }
            .obs, .observation {
                @include labels();
                font-weight: $fwLight;
            }
        }
    }

    // fields with modifiers
    &__field {
        position: relative;
        &.--range {
            .rangeHero {
                @include calcWidthForPositionNegative(-5px);
                display: flex;
                flex-direction: row;
            }
            .min, .max {
                padding: 0 5px;
                @include flexWidth(50%);
            }
        }
        &.--check {
            .checkHero {
                > * {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 10px;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                    &:first-of-type {
                        margin-top: 5px;
                    }
                }
            }
            .fakeLabel {
                margin-bottom: 8px;
            }
            label {
                @include paragraphs($fs: 16px);
                padding-left: 8px;
                cursor: pointer;
                order: 2;
                margin-bottom: 0;
                position: relative;
                top: 1px;
                a {
                    @include paragraphs($fs: 16px);
                    display: inline;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            input {
                @include flexWidth($field_checks_size);
                height: $field_checks_size;
                padding: 0;
                border: 0;
                order: 1;
                &:checked {
                    background: url(#{$media_icons}/icon_checked.svg) !important;
                    background-repeat: no-repeat !important;
                    background-size: cover !important;
                    background-position: center !important;
                }
            }
            &.--checkbox {
                input {
                    @include roundedAll(4px);
                }
            }
            &.--radio {
                input {
                    @include roundedAll(50%);
                }
            }
        }
        &.--file {
            position: relative;
            .inputText {
                position: relative;
                z-index: 1;
                cursor: pointer;
                text-align: center;
            }
            .inputAttach {
                //background: red;
                cursor: pointer;
                background: transparent;
                position: absolute;
                z-index: 2;
                width: 100%;
                text-align: center;
                @include opacity(0);
            }
            &.--noLabel {
                .inputAttach {
                    bottom: 10px !important;
                }
            }
        }
        &.--select {
            position: relative;
            * {
                @include transition(all, 0ms, linear);
            }
            .selectBox,
            .inputBox {
                @include roundedAll($field_radius);
                background: $field_bg;
                height: $field_height;
                display: block;
                position: relative;
                width: 100%;
            }
            .selectBox {
                select {
                    @include opacity(0);
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 2;
                }
            }
            .inputBox {
                z-index: 1;
                &:after {
                    @include opacity(0.4);
                    @include transforms(rotate(0deg) translateY(50%), center);
                    @include transition();
                    content: '';
                    width: 12px;
                    height: 10px;
                    display: block;
                    position: absolute;
                    bottom: 50%;
                    right: 0;
                    background: url(#{$media_assets}caret_black_down.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                }
            }

            &.is-active {
                .selectBox {
                    select {
                        @include opacity(1);
                        background: transparent;
                        height: $field_height;
                    }
                }
                .inputBox {
                    input {
                        @include opacity(0);
                    }
                    &:after {
                        @include transforms(rotate(180deg) translateY(50%), bottom);
                    }
                }
            }
        }
        &.--select.--full {
            .selectBox {
                height: auto;
                background-color: transparent;
            }
        }
        &.--select2 {
            .select2 {
                width: 100% !important;
                position: relative;
                .selection {
                    .select2-selection {
                        &:after {
                            @include transition();
                            content: '';
                            width: 12px;
                            height: 10px;
                            display: block;
                            position: absolute;
                            bottom: 17px;
                            right: 20px;
                            z-index: 4;
                            background: url(#{$media_assets}caret-down.svg);
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: contain;
                        }
                    }
                }
                &.select2-container--open {
                    .selection {
                        .select2-selection {
                            &:after {
                                @include transforms(rotate(180deg), center);
                            }
                        }
                    }
                }
            }
        }
        &.--select2.--default {
            .select2-container--default {
                .select2-selection--single {
                    @include roundedAll(0);
                    border: 0;
                    background: transparent;
                    height: $field_height;
                    .select2-selection__rendered {
                        @include paragraphs();
                        @include roundedAll($field_radius);
                        padding: 0 $field_radius;
                        border-color: $fields_borderColor;
                        background: $field_bg;
                        height: $field_height;
                        line-height: $field_height;
                    }
                    .select2-selection__placeholder {
                        @include labels($tc: $placeholderText);
                        height: $field_height;
                        line-height: $field_height;
                    }
                    .select2-selection__arrow {
                        display: none;
                    }
                }
            }
        }
        &.--select2.--multiple {
            .select2-container--default {
                .selection {
                    .select2-selection {
                        .select2-search {
                            @include roundedAll($field_radius);
                            height: $field_height;
                            display: block;
                            position: relative;
                            background: $field_bg_focus;
                            &:after {
                                content: '';
                                display: block;
                                width: 20px;
                                height: 20px;
                                position: absolute;
                                top: 12px;
                                left: 20px;
                                z-index: 2;
                                background: url(#{$media_icons}icon_search.svg);
                            }
                            .select2-search__field {
                                @include transition($property: background);
                                background: $field_bg;
                                margin-top: 0;
                                margin-left: 0;
                                padding: 0 $field_padding;
                                border: 1px solid $fields_borderColor;
                                position: relative;
                                z-index: 3;
                                &:focus {
                                    border: 1px solid $fields_borderColor_focus;
                                    background-color: transparent;
                                    padding-left: 50px;
                                    z-index: 1;
                                }
                            }
                        }
                    }
                }
                .select2-selection--multiple {
                    @include roundedAll(0);
                    background-color: transparent;
                    border: 0;
                    padding-bottom: 0;
                    padding-right: 0;
                }
            }
        }
        &.--btn {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
        }
        &.--text {
            p {
                @include paragraphs();
            }
        }
        &.--rangeDefault {
            label {
                margin-bottom: 10px;
            }
            .rangeSlider {
                display: block;
                position: relative;
                width: 100%;
                padding-bottom: 5px;
            }

            .rangeSlider__range {
                width: calc(100% - (55px));
                height: 4px;
                border-radius: 2px;
                background: $field_bg_focus;
                outline: none;
                padding: 0;
                margin: 0;
            }
            .rangeSlider__range::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $primary;
                cursor: pointer;
                -webkit-transition: background .15s ease-in-out;
                transition: background .15s ease-in-out;
            }
            .rangeSlider__range::-webkit-slider-thumb:hover {
                background: $primaryDark;
            }
            .rangeSlider__range:active::-webkit-slider-thumb {
                background: #393939;
            }
            .rangeSlider__range::-moz-range-thumb {
                width: 10px;
                height: 10px;
                border: 0;
                border-radius: 50%;
                background: $primary;
                cursor: pointer;
                -moz-transition: background .15s ease-in-out;
                transition: background .15s ease-in-out;
            }
            .rangeSlider__range::-moz-range-thumb:hover {
                background: $primaryDark;
            }
            .rangeSlider__range:active::-moz-range-thumb {
                background: #393939;
            }
            .rangeSlider__range:focus::-webkit-slider-thumb {
                //box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
            }

            .rangeSlider__value {
                @include roundedAll(10px);
                @include labels($tc: $white, $fs: 14px);
                display: block;
                width: 40px;
                line-height: 20px;
                height: 20px;
                text-align: center;
                background: $primary;
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -10px;
            }
            .rangeSlider__value:after {
                position: absolute;
                top: 3px;
                left: -5px;
                width: 0;
                height: 0;
                border-top: 7px solid transparent;
                border-right: 7px solid $primary;
                border-bottom: 7px solid transparent;
                content: '';
            }

            ::-moz-range-track {
                background: #393939;
                border: 0;
            }

            input::-moz-focus-inner,
            input::-moz-focus-outer {
                border: 0;
            }
        }
        &.--rangeDefault.--withArrow {
            padding-left: 50px;
            &:before {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 10px;
                left: 20px;
                background: red;
                background: url(#{$media_icons}icon_sub.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }
    }

    // form with steps
    &__step {
        margin-top: 50px;
        h2 {
            margin-bottom: 10px;
        }
        &:first-of-type {
            margin-top: 0;
        }
    }
}

// =======================================
// group
// cols
// fields
// list
//
//

.c-form {
    &__hero {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    &__hero {
        @include calcWidthForPositionNegative(-10px);
    }
    &__group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &__field {
        display: block;
        width: 100%;
        padding: 10px;
    }
    &__feedback {
        display: block;
    }
}

.c-field {
    > label {
        display: block;
        width: 100%;
        color: $text;
        font-weight: $fwBold;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    > input,
    > .c-field__file input,
    > select,
    > textarea {
        @include transition();
        @include roundedAll();
        display: block;
        width: 100%;
        border: 2px solid $text;
        background: transparent;
        font-weight: $fwMedium;
        font-size: 16px;
        color: $text;
        @include placeholder() {
            color: $placeholderText;
        }
        &:focus {
            border-color: $primary;
        }
    }

    > input,
    > .c-field__file input,
    > select {
        line-height: 46px;
        height: 48px;
        padding: 0 20px;
    }

    > textarea {
        line-height: 1.25;
        height: 180px;
        min-height: 100px;
        max-height: 70vh;
        padding: 15px 20px;
        resize: vertical;
    }

    &.--btn {
        .c-btn {
            max-width: 170px;
            border-width: 2px;
        }
    }
    &.--confirmRead {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 0;
        input {
            @include roundedAll(4px);
            padding: 0;
            width: 24px;
            height: 24px;
            cursor: pointer;
            &:checked {
                background: url(#{$media_icons}/icon_checked.svg) !important;
                background-repeat: no-repeat !important;
                background-size: cover !important;
                background-position: center !important;
            }
        }
        label {
            @include paragraphs($fs: 16px);
            font-weight: $fwSemiBold;
            text-transform: inherit;
            padding-left: 10px;
            margin-bottom: 0;
            a {
                color: $text;
                font-weight: $fwSemiBold;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                    color: $secondary;
                }
            }
        }
    }
    &.--file {
        .c-field__file {
            display: block;
            width: 100%;
            position: relative;
            input[type=file] {
                @include opacity(0);
                position: relative;
                z-index: 2;
                cursor: pointer;
            }
            input[type=text] {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1;
                pointer-events: none;
            }
            svg {
                display: block;
                width: 22px;
                height: 22px;
                position: absolute;
                top: 50%;
                margin-top: -11px;
                right: 15px;
                z-index: 1;
                pointer-events: none;
            }
        }
    }
}