.c-hamburguer {
    @include flexWidth(20px);
    @include transition();
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    &__bar {
        @include roundedAll(2px);
        @include transforms(skewX(-20deg), center);
        @include transition();
        display: block;
        position: relative;
        &.--bar1 {
            width: 100%;
        }
        &.--bar2 {
            width: 100%;
            right: 3px;
        }
        &.--bar3 {
            width: 50%;
            right: 7px;
        }
    }

    // sizes
    &.--l {
        @include flexWidth(65px);
        height: 30px;
        .c-hamburguer__bar {
            height: 6px;
        }
    }
    &.--m {
        @include flexWidth(50px);
        height: 25px;
        .c-hamburguer__bar {
            height: 5px;
        }
    }
    &.--s {
        @include flexWidth(35px);
        height: 20px;
        .c-hamburguer__bar {
            height: 4px;
        }
    }

    // themes
    &.--white {
        .c-hamburguer__bar {
            background: $white;
        }
    }
    &.--primary {
        .c-hamburguer__bar {
            background: $primary;
        }
    }
    &.--secondary {
        .c-hamburguer__bar {
            background: $secondary;
        }
    }

    &.is-active {
        @include transforms(rotate(-180deg), center);
        .c-hamburguer__bar {
            &:nth-child(1) {
                @include transforms(rotate(45deg), center);
            }
            &:nth-child(2) {
                @include opacity(0);
            }
            &:nth-child(3) {
                @include transforms(rotate(-45deg), center);
            }
        }
        &.--l {
            .c-hamburguer__bar {
                right: 20px;
                width: 30px;
                &:nth-child(1) {
                    top: 12px;
                }
                &:nth-child(3) {
                    top: -12px;
                }
            }
        }
        &.--m {
            .c-hamburguer__bar {
                width: 25px;
                right: 16px;
                &:nth-child(1) {
                    top: 10px;
                }
                &:nth-child(3) {
                    top: -10px;
                }
            }
        }
        &.--s {
            .c-hamburguer__bar {
                width: 20px;
                right: 10px;
                &:nth-child(1) {
                    top: 8px;
                }
                &:nth-child(3) {
                    top: -8px;
                }
            }
        }
    }
}
