.c-midiaKit {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	&__content {
		flex: 1 1 auto;
		padding-right: 25px;
	}
	&__cta {
		@include flexWidth(250px);
	}

	.c-plainText p {
		font-size: 20px;
	}
	.c-btn {
		&__icon {
			svg path {
				fill: $primary;
			}
		}
		&__content {
			top: -1px;
		}
	}
}

@media screen and (max-width: 640px) {
	.c-midiaKit {
		flex-wrap: wrap;
	}
	.c-midiaKit__content {
		@include flexWidth(100%);
		padding-right: 0;
		padding-bottom: 20px;
	}
	.c-midiaKit__cta {
		@include flexWidth(100%);
		.c-btn {
			max-width: 240px;
		}
	}
}