.c-neurodigital {
	display: inline-block;
	margin: 5px 0;
	a {
		@include transition();
		@include roundedAll();
		padding: 10px 15px;
		background: $secondary;
		i {
			@include transition();
			@include scale(1, center);
		}
		span {
			color: $primary;
			font-weight: $fwMedium;
			font-size: 14px;
			padding-left: 8px;
			position: relative;
			top: -1px;
		}
		&:hover {
			//background: $secondaryDark;
			i {
				@include scale(1.5, center);
				svg path {
					fill: var(--neurodigital);
				}
			}
			span {
				color: var(--neurodigital);
			}
		}
	}
}