.c-pagination {
	display: flex;
	flex-direction: row;
	justify-content: center;
	> li {
		padding: 5px;
		&:first-of-type {
			margin-right: 5px;
		}
		&:last-of-type {
			margin-left: 5px;
		}
	}

	.c-btn {
		@include transforms(skewX(0deg), center);
		&__content {
			@include transforms(skewX(0deg), center);
			top: 0 !important;
			padding: 0 10px !important;
		}
		&__icon {
			@include flexWidth(16px !important);
			* {
				width: 100% !important;
			}
		}
		&.--stroke {
			border-width: 2px;
		}
	}
}

@media screen and (max-width: 880px) {
	.c-pagination>li {
		padding: 2px;
	}
	.c-pagination>li:first-of-type{
		margin-right: 0;
	}
	.c-pagination>li:last-of-type {
		margin-left: 0;
	}
	.c-pagination .c-btn__content {
		padding: 0 5px !important;
	}
}
@media screen and (max-width: 420px) {
	.c-pagination .c-btn__content {
		padding: 0 2px !important;
	}
	.c-pagination .c-btn.--s .c-btn__caption {
		font-size: 12px;
	}
}