.l-footer {
    display: block;
    display: none;
    width: 100%;
    background: $secondary;
    padding-bottom: 30px;
    &__tagline {
        display: block;
        width: 100%;
        background: $primary;
        &__caption {
            padding: 10px 30px 10px 0;
            text-align: right;
            span {
                font-family: $fontFamily__secondary;
                font-weight: $fwBold;
                font-style: italic;
                font-size: 20px;
                color: $white;
                text-transform: uppercase;
            }
        }
        &__brand {
            @include flexWidth(140px);
            position: relative;
            &:before,
            &:after {
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                top: 0;
                background: $secondary;
                z-index: 1;
            }
            &:before {
                right: 0;
                width: 50%;
            }
            &:after {
                width: calc(((100vw - var(--containerWidth)) / 2) + var(--containerPadding));
                left: 100%;
            }
            img {
                display: block;
                width: 100%;
                position: absolute;
                top: -9px;
                left: 0;
                z-index: 2;
            }
        }
    }
    &__row {
        display: block;
        margin-top: 50px;
    }
}