.s-defaultSection {
	&__head {
		display: block;
		width: 100%;
		margin-bottom: 10px;
	}
	&__content {
		display: block;
		width: 100%;
		> .c-responsiveGrid {
			@include calcWidthForPositionNegative(-6px);
			> li {
				padding: 6px;
			}
		}
	}

	&.--darken {
		@include roundedAll();
		overflow: hidden;
		background: $secondary;
		padding: 15px;
		.c-micTitle {
			&__title {
				a {
					color: $white;
				}
			}
		}
	}
}