@mixin paragraphs (
    $tc: $text,
    $fw: $fwRegular,
    $fs: 21px,
    $lh: 1.4,
    $important: false) {
    color: $tc is-important($important);
    font-size: $fs is-important($important);
    font-weight: $fw is-important($important);
    line-height: $lh is-important($important);
    strong, b {
        font-weight: $fwBold;
    }
    a {
        font-weight: $fw is-important($important);
        color: $primary;
        &:hover {
            color: $primaryDark;
            text-decoration: underline;
        }
    }
    u {
        text-decoration: underline;
    }
    i {
        font-style: italic;
    }

    @media screen and (max-width: 780px) {
        font-size: $fs - 3 is-important($important);
    }
}

@mixin labels (
    $tc: $text,
    $fs: 12px,
    $important: false
) {
    color: $tc is-important($important);
    font-size: $fs is-important($important);
    line-height: 1.2 is-important($important);
    font-weight: $fwBold is-important($important);
    a {
        color: $tc is-important($important);
        font-size: $fs is-important($important);
        line-height: 1.2 is-important($important);
        font-weight: $fwBold is-important($important);
        &:hover {
            text-decoration: underline;
        }
    }
}


//
@mixin preset__cardBase($pad: 15px) {
    @include transition();
    @include roundedAll();
    background: $white;
    padding: $pad;
    border: 1px solid $white;
    display: flex;
    flex-direction: row;
    width: 100%;
    &:hover {
        border: 1px solid $cardBorder;
    }
}
