// Layout Colors
$white: var(--white);
$white2: var(--white2);
$white3: var(--white3);
$gray: var(--gray);
$gray2: var(--gray2);
$gray3: var(--gray3);
$gray4: var(--gray4);
$black: var(--black);
$black2: var(--black2);
$black3: var(--black3);

$primary: var(--primary);
$primaryLight: var(--primaryLight);
$primaryDark: var(--primaryDark);
$secondary: var(--secondary);
$secondaryLight: var(--secondaryLight);
$secondaryDark: var(--secondaryDark);
$cardBorder: var(--cardBorder);

$wppPrimary: var(--wppPrimary);
$wppSecondary: var(--wppSecondary);
$twitterPrimary: var(--twitterPrimary);
$twitterSecondary: var(--twitterSecondary);
$facebookPrimary: var(--facebookPrimary);
$facebookSecondary: var(--facebookSecondary);
$instagramPrimary: var(--instagramPrimary);
$instagramSecondary: var(--instagramSecondary);
$linkedinPrimary: var(--linkedinPrimary);
$linkedinSecondary: var(--linkedinSecondary);
$spotifyPrimary: var(--spotifyPrimary);
$spotifySecondary: var(--spotifySecondary);
$youtubePrimary: var(--youtubePrimary);
$youtubeSecondary: var(--youtubeSecondary);

$feedbackSuccess: var(--feedbackSuccess);
$feedbackLoad: var(--feedbackLoad);
$feedbackError: var(--feedbackError);

$text: var(--text);
$textLight: var(--textLight);
$placeholderText: var(--placeholderText);

$radioOff: var(--radioOff);
$radioOn: var(--radioOn);
$radioOn_secondary: var(--radioOn_secondary);

// Sizes
$containerPadding: var(--containerPadding);
$containerWidth: var(--containerWidth);
$containerBigWidth: var(--containerBigWidth);
$maxRowWidth: var(--maxRowWidth);
$defaultRadius: var(--defaultRadius);
$sectionContentGAP: var(--sectionContentGAP);
$sectionsGAP: var(--sectionsGAP);

// media folders
$media_assets: "../media/img/assets/";
$media_icons: "../media/img/icons/";
$media_content: "../media/img/content/";

// fonts
$fontFamily__default: var(--fontFamily__default);
$fontFamily__secondary: var(--fontFamily__secondary);

// font weight
$fwThin: 100;
$fwLight: 200;
$fwLight: 300;
$fwRegular: 400;
$fwMedium: 500;
$fwSemiBold: 600;
$fwBold: 700;
$fwExtraBold: 800;
$fwBlack: 900;
